.nav {
  background-color: rgb(2, 3, 5);
  padding: 0.1rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 3px solid #065288;
  border-radius: 10px;
  animation: navGlow 2s infinite alternate;
  box-shadow: 0 0 20px #0790cf, 0 0 40px #097fbe inset;
  /* margin: 2vh; */
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
}

.menuIcon {
  display: none;
  font-size: 2rem;
  color: #00b7ff;
  cursor: pointer;
}

/* === Link Styling === */
.links {
  display: flex;
  gap: 1.5rem;
  transition: max-height 0.3s ease-out;
}

.link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

/* === Gradient Text + Border Glow === */
.link:hover {
  background: linear-gradient(90deg, #00ffe0, #f304c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #00ffe0;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes navGlow {
  0% {
    border-color: #0a81f9;
    box-shadow: 0 0 2.5px #036ec0, 0 0 5px #04b0ef inset;
  }
  100% {
    border-color: #0e94e2;
    box-shadow: 0 0 10px #1d96f3, 0 0 15px #0f84ea inset;
  }
}

.activeLink {
  border: 2px solid #00ffe0;
  animation: glow 1s ease-in-out infinite alternate;
  background: linear-gradient(90deg, #00ffe0, #ff00c8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #111;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    gap: 1rem;
    padding: 0 1rem;
    transition: max-height 0.5s ease-in-out;
  }

  .links.active {
    max-height: 500px;
    padding: 1rem;
  }

  .link {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
  }
}
